<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="3.1"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>OnlineShop</display-name>
	<servlet>
		<description></description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>Controller.MainServlet</servlet-class>
	</servlet>
	<filter>
		<filter-name>BannedAccessFilter</filter-name>
		<filter-class>Controller.Filter.BannedAccessFilter</filter-class>
		<init-param>
			<param-name>requireLogin</param-name>
			<param-value>
				/orders
				/orders-products
				/add-order
				/add-product
				/add-order-product
				/delayed-orders
				/date-orders
				/client-orders
				/log-out
			</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CookieFilter</filter-name>
		<filter-class>Controller.Filter.CookieFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SignUpFilter</filter-name>
		<filter-class>Controller.Filter.SignUpFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SignUpFilter</filter-name>
		<url-pattern>/sign-up</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CookieFilter</filter-name>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BannedAccessFilter</filter-name>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>View.index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
